body
{
	margin: 0;
	max-width: 100%;
}
p
{
	width: 80%;
	margin: 0 auto;
	line-height: 1.5em;
}
#colorBar
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 30px;

	overflow: hidden;

	background-color: #dc0e68;
}
.color-panel
{
	display: inline-block;

    -webkit-transition: background-color 2s linear, width 5s ease-in;
    transition: background-color 2s linear, width 5s ease-in;
}

.color-block
{
	display: block;
	position: relative;
	left: 0;
	width: auto;
	height: 400px;
	color: white;
	font-size: 2em;
	line-height: 1.5em;
	padding: 4em;
	/*border: 4px solid white;*/
}
.bg-purple
{
	background-color: rgb(93,56,162);
}
.bg-blue
{
	background-color: rgb(85,166,206);
}
.bg-green
{
	background-color: rgb(144,183,89);
}